<% if logged_in? %>
<center>
  <div class="center jumbotron">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
</center>
<% else %>

<div class="center jumbotron">
  <h1 class="hme_h1">Welcome to the Cyb3r Board</h1>

  <h2 class="hme_h2">
    The ultimate social media platform designed for Nerds & Geeks alike!<br/>
    <%= image_tag('dont_trust_humans.png', width: '275px', height: '125px') %><br/>
    <br/>
    <%= link_to "Register!", signup_path, class: "btn btn-lg btn-primary" %>&nbsp;&nbsp;&nbsp;<%= link_to 'Login!', login_path, class: 'btn btn-lg btn-success' %><br/>
  </h2>
  <p class="hme_p"><br/>
    This website is powered by:<br/>
    <%= link_to image_tag('rails.png', width: '50px', height: '50px'), 'http://rubyonrails.org/', target: '_blank' %>&nbsp;&nbsp;<%= link_to image_tag('discord.png', width: '50px', height: '50px'), 'https://discord.gg/BVcKe2K', target: '_blank' %>&nbsp;&nbsp;<%= link_to image_tag('heroku.png', width: '50px', height: '50px'), 'https://www.heroku.com', target: '_blank' %>&nbsp;&nbsp;<%= link_to image_tag('github.png', height: '50px', width: '50px'), 'https://github.com/Al13nHack3r', target: '_blank' %>
  </p>
</div>
<% end %>
