<% provide(:title, "Log in") %>
<h1 class="hme_h1">Enter Portal;</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label 'Email:', class: 'sgn_txt' %>
      <%= f.email_field :email, class: 'form-control sgn_inp' %>

      <%= f.label 'Password:', class: 'sgn_txt' %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control sgn_inp' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p class="lgn_p">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
