<% provide(:title, "Edit user") %>
<h1 class="hme_h1">Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label 'First Name:', class: 'sgn_txt' %>
      <%= f.text_field :fname, class: 'form-control sgn_inp' %>

      <%= f.label 'Last Name:', class: 'sgn_txt' %>
      <%= f.text_field :lname, class: 'form-control sgn_inp' %>

      <%= f.label 'Nickname:', class: 'sgn_txt' %>
      <%= f.text_field :nname, class: 'form-control sgn_inp' %>

      <%= f.label 'GitHub: (YourName)', class: 'sgn_txt' %>
      <%= f.text_field :github, class: 'form-control sgn_inp' %>

      <%= f.label 'Website:', class: 'sgn_txt' %>
      <%= f.text_field :web, class: 'form-control sgn_inp' %>

      <%= f.label 'Discord Tag:', class: 'sgn_txt' %>
      <%= f.text_field :discord, class: 'form-control sgn_inp' %>

      <%= f.label 'Bio:', class: 'sgn_txt' %>
      <%= f.text_field :bio, class: 'form-control sgn_inp' %>

      <%= f.label 'Email:', class: 'sgn_txt' %>
      <%= f.email_field :email, class: 'form-control sgn_inp' %>

      <%= f.label 'Password:', class: 'sgn_txt' %>
      <%= f.password_field :password, class: 'form-control sgn_inp' %>

      <%= f.label 'Confirm Pass:', class: 'sgn_txt' %>
      <%= f.password_field :password_confirmation, class: 'form-control sgn_inp' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
